body {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  margin: 0.2rem 0;
}
h1 {
  background-color: #282d87;
  color: white;
  padding: 1vw 0;
  width: 98vw;
}
h2 {
  background-color: #282d87;
  color: white;
  width: 100%;
  padding: 0.5rem 0;
}
b {
  background-color: #61dafb;
  padding: 0.3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
.App {
  height: 100vh;
  text-align: center;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
}
.combinaison {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-three {
  color: rgb(0, 0, 0);
  font-size: x-large;
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #07485a28;
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #61dafb;
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.main-right {
  margin-left: 2rem;
  width: clamp(20vw, 50vw, 330px);
}
#resultats {
  line-height: 1.8rem;
  box-shadow: 20px 20px 32px 1px rgb(0 0 0 / 71%);
  width: 21rem;
  margin-bottom: 1rem;
}
#resultats:empty {
  border: none;
}
.shake {
  background-color: aquamarine;
  opacity: 1;
  transform: scale(1, 1);
}
.numbers,
.stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}
.description {
  padding: 1rem;
  text-align: start;
}
@media screen and (max-width: 700px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-right {
    width: 70%;
    margin-left: unset;
  }
  h1 {
    margin: 1rem ;
    /* width: 80%; */
  }
  img{
    width: 100%;  
  }
  #resultats {
    width: 100%;
  }
}

.loader {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #282d87 #282d87 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #07485a28 #07485a28;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 132px;
  height: 132px;
  border-color: #61dafb #61dafb transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    
